# Core
numpy
pandas
matplotlib
seaborn
scikit-learn

# Statistical Analysis
statsmodels
scipy

# Feature Selection
mlxtend

# Visualization
plotly

# Decision Tree Visualization (optional)
# dtreeviz
# graphviz
